body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 60px;
}
header {
  width: 1315px;
  height: 822px;
  background-image: url(img/1.png);
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Source Sans Pro";
}
a {
  text-decoration: none;
  color: white;
}
.project {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 222px;
  flex: 1 auto;
}
ul {
  list-style: none;
  display: flex;
  padding: 0px;
  flex: 4 auto;
}
li {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  margin-left: 30px;
}

header img {
  position: absolute;
  top: 274px;
  left: 47%;
}
h1 {
  text-align: center;
  position: absolute;
  top: 368px;
  left: 532px;
  font-size: 48px;
  font-family: "Oswald";
}
header h2 {
  position: absolute;
  top: 500px;
  left: 450px;
  font-size: 24px;
  text-align: center;
  opacity: 0.7;
}
.info {
  background-color: #eeeeee;
  text-align: center;
  width: 1315px;
  font-family: "Source Sans Pro";
  min-height: 700px;
}
.info h2 {
  color: #464547;
  font-size: 48px;
  margin: 0px;
  padding-top: 87px;
  font-family: "Oswald";
  font-weight: bold;
}
.info h3 {
  color: #666666;
  font-size: 24px;
  margin-top: 40px;
}

.info p {
  font-size: 16px;
  margin-top: 48px;
  line-height: 22px;
  text-align: center;
  width: 903px;
  margin-left: 214px;
}
button {
  text-transform: uppercase;
  width: 115px;
  height: 36px;
  color: white;
  border: 2px solid #55c2d8;
  border-radius: 20px;
  background-color: #55c2d8;
  margin-top: 30px;
}
.learn_more {
  background-image: url(img/2.png);
  width: 1315px;
  height: 666px;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro";
}
.learn_more h2 {
  margin-top: 0px;
  padding-top: 84px;
  font-size: 48px;
  line-height: 64px;
  font-family: "Oswald";
}
.learn_more button {
  width: 150px;
  height: 150px;
  background-color: #55c2d8;
  border-radius: 75px;
  font-size: 110px;
  padding-top: 10px;
  padding-left: 10px;
}
.learn_more h3 {
  padding-top: 48px;
  font-size: 24px;
  line-height: 32px;
}
footer {
  background-color: #464547;
  width: 1175px;
  min-height: 199px;
  color: #eeeeee;
  font-size: 16px;
  font-family: "Source Sans Pro";
  padding-left: 140px;
}

em {
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  margin-left: 10px;
  opacity: 1;
}
footer img {
  margin-top: 20px;
}
.footer-paragraf {
  margin-top: 15px;
}
footer p {
  opacity: 0.4;
}
